[submodule "http-entendendo-web-por-baixo-dos-panos/api-alurabooks"]
	path = http-entendendo-web-por-baixo-dos-panos/api-alurabooks
	url = https://github.com/alura-cursos/api-alurabooks.git
[submodule "http-entendendo-web-por-baixo-dos-panos/curso-react-alurabooks"]
	path = http-entendendo-web-por-baixo-dos-panos/curso-react-alurabooks
	url = https://github.com/alura-cursos/curso-react-alurabooks.git
[submodule "devops-trafego-seguro-comunicacoes-web/curso-react-alurabooks"]
	path = devops-trafego-seguro-comunicacoes-web/curso-react-alurabooks
	url = https://github.com/alura-cursos/curso-react-alurabooks.git
[submodule "devops-trafego-seguro-comunicacoes-web/api-alurabooks"]
	path = devops-trafego-seguro-comunicacoes-web/api-alurabooks
	url = https://github.com/alura-cursos/api-alurabooks.git
[submodule "cgcd/alurabooks-frontend"]
	path = cgcd/alurabooks-frontend
	url = git@github.com:alura-cursos/curso-react-alurabooks.git
[submodule "regex/alura_course_repos"]
	path = regex/alura_course_repos
	url = git@github.com:alura-cursos/regex_curso.git
