<VirtualHost *:80>
	ServerName {{ wp_dns }}
	ServerAdmin jecampos@sorocaba.sp.gov.br
	DocumentRoot {{ wp_installation_dir }}

	LogLevel info

	ErrorLog ${APACHE_LOG_DIR}/{{ wp_dns }}_error.log
	CustomLog ${APACHE_LOG_DIR}/{{ wp_dns }}_access.log combined
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet