<VirtualHost *:80>
    ServerName ansible2.sorocaba.sp.gov.br
    ServerAdmin jecampos@sorocaba.sp.gov.br

    Redirect permanent / https://ansible2.sorocaba.sp.gov.br/
</VirtualHost>

<VirtualHost *:443>
    ServerName ansible2.sorocaba.sp.gov.br
    DocumentRoot {{ wp_dir }}
    <Directory {{ wp_dir }} >
        Options FollowSymLinks
        AllowOverride Limit Options FileInfo
        DirectoryIndex index.php
        Require all granted
    </Directory>
    <Directory {{ wp_dir }}/wp-content>
        Options FollowSymLinks
        Require all granted
    </Directory>

    SSLEngine on
    SSLCertificateFile ${PATH_CERT_CRT}
    SSLCertificateKeyFile ${PATH_CERT_KEY}
    SSLCertificateChainFile ${PATH_INTERMEDIATE_CRT}
</VirtualHost>
